/*
Theme Name: 	Sequential Child
Author: 		Florian TIAR
Description: 	Thème enfant de Sequential
Version: 		1.0.0
Template:     	sequential
Text Domain: 	sequential-child
*/

.message{
	box-sizing:border-box;
	position:fixed;
	top:0;
	left:0;

	width:100%;
	padding:1em;
	
	background-color:#FFF;
	color:#000;
}

.entry-identity p:not(:last-of-type) {
    margin-bottom: 0;
}
.entry-identity .genericon {
    margin-right: 5px;
    font-size: 20px;
    vertical-align: sub;
}